<button class="btn btn-primary" data-toggle="modal" data-target="#addPositionModal">Добавить должность</button>

<!-- Modal -->
<div class="modal show" id="addPositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Новая должность</h5>
        <button type="button" class="close" #closeAddPositionButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input class="table-input form-control input" [(ngModel)]="position.name"/>
          </div>
          <div class="col">
            <label>Должность</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addPosition()">Добавить</button>
      </div>
    </div>
  </div>
</div>
