<button class="btn btn-primary" data-toggle="modal" data-target="#addEmployeePositionModal">Добавить сотрудника</button>

<!-- Modal -->
<div class="modal show" id="addEmployeePositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Новый сотрудник</h5>
        <button type="button" class="close" #closeAddEmployeePositionButton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input class="table-input form-control input" [(ngModel)]="employeePosition.surname" />
          </div>
          <div class="col">
            <label>Фамилия</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="table-input form-control input" [(ngModel)]="employeePosition.name" />
          </div>
          <div class="col">
            <label>Имя</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select class="input-select form-control" [(ngModel)]="employeePosition.positionId">
              <option *ngFor="let p of positions" [ngValue]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col">
            <label>Должнось</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="table-input form-control input" type="number" [ngModel]="employeePosition.salary" (ngModelChange)="employeePosition.salary=$event" />
          </div>
          <div class="col">
            <label>$ Оклад</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <input type="date" [(ngModel)]="employeePosition.dateOfAppointment" class="form-control">
            </div>
          </div>
          <div class="col">
            <label>Нанят</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group">
              <input type="date" [(ngModel)]="employeePosition.dateOfDismissal" class="form-control">
            </div>
          </div>
          <div class="col">
            <label>Уволен</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="text-danger">{{errMessage}}</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="addEmployeePosition()">Добавить</button>
      </div>
    </div>
  </div>
</div>


