<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Должность</th>
      <th scope="col">Сотрудник</th>
      <th scope="col">Оклад</th>
      <th scope="col">Дата назначения</th>
      <th scope="col">Дата увольнения</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ep of employeePositionPaginationList.employeePositions">
      <td>{{ ep.id }}</td>
      <td data-id="{{ ep.positionId }}">{{ ep.positionName }}</td>
      <td>{{ ep.surname }} {{ ep.name }}</td>
      <td>{{ ep.salary }}$</td>
      <td>{{ ep.dateOfAppointment | date:"dd/MM/yyyy"}}</td>
      <td>{{ ep.dateOfDismissal | date:"dd/MM/yyyy"}}</td>
    </tr>
  </tbody>
</table>
<!-- row -->
<div class="row">
  <div class="col right" >
    <input type="button" (click)="previousPage()" value="<" *ngIf="employeePositionPaginationList.hasPrevious"/>
  </div>
  <div class="col" >
    <input type="button" (click)="nextPage()" value=">" *ngIf="employeePositionPaginationList.hasNext"/>
  </div>
</div>
